<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>

    <div class="container">
		<div class="carousel">
                <div class="highlighted" >
                    <img v-for="(pic, index) in arrImages" key="pic" class="active" :src="pic.image" alt="">
                </div>
                <div class="controls">
                    <i class="bi bi-arrow-up-circle-fill btn btn-prev"></i>
                    <i class="bi bi-arrow-down-circle-fill btn btn-next"></i>
                </div>

                <div class="thumbs">
                   <img v-for="(pic, index) in arrImages" key="pic" :src="pic.image" alt=""> 
                </div>
            <div class="text"></div>
			<div class="title"></div>

			<!-- div con le miniature -->
			

            <button class="reverse">carosello indietro</button>
	        <button class="forward">carosello avanti</button>
		</div>
	</div>

	
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>

